@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 80px;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px 0 50px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
}

.navbar__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.button:hover {
    background: #783605;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}